{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/bundle"
brew "asdf"
brew "awscli"
brew "exa"
brew "fnm"
brew "htop"
brew "neofetch"
brew "neovim"
brew "starship"
brew "sylpheed"
brew "tealdeer"
brew "tmux"
brew "zoxide"
cask "alacritty"
cask "alt-tab"
cask "appcleaner"
cask "balenaetcher"
cask "bbedit"
cask "beekeeper-studio"
cask "c0re100-qbittorrent"
cask "cider"
cask "codeedit"
cask "element"
cask "eloston-chromium"
cask "eul"
cask "firefox"
cask "gitdock"
cask "hiddenbar"
cask "iina"
cask "inkscape"
cask "insomnia"
cask "iterm2"
cask "itsycal"
cask "karabiner-elements"
cask "keepingyouawake"
cask "keeweb"
cask "keka"
cask "kekaexternalhelper"
cask "keycastr"
cask "maccy"
cask "mos"
cask "mullvadvpn"
cask "obs"
cask "opencore-configurator"
cask "pika"
cask "podman-desktop"
cask "rectangle"
cask "skim"
cask "spotify"
cask "syncthing"
cask "telegram"
cask "tomatobar"
cask "visual-studio-code"
cask "wezterm"
cask "whale"
cask "whalebird"
cask "whatsapp"
cask "zed"
{{ else }}
{{ end }}
