# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
# End of lines configured by zsh-newuser-install

# The following lines were added by compinstall
zstyle :compinstall filename '/home/hrq/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# append completions to fpath
fpath=(${ASDF_DIR}/completions $fpath)
# initialise completions with ZSH's compinit
autoload -Uz compinit && compinit

alias config="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias ls="exa --color=always --group-directories-first --icons"
alias ll="exa -l --color=always --group-directories-first --icons"
alias la="exa -la --color=always --group-directories-first --icons"
alias lt="exa -aT --color=always --group-directories-first --icons"
alias nvm="fnm"
alias vi="nvim"
alias vim="nvim"

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.local/bin/activitywatch:$PATH"
export EDITOR="nvim"

{{ if eq .chezmoi.os "linux"}}
export PATH="/home/hrq/.local/share/fnm:$PATH"
eval "`fnm env`"
source "$HOME/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh"
source "$HOME/.cargo/env"
source "$HOME/.asdf/asdf.sh"
{{ end }}

#if command -v tmux &> /dev/null && [ -z "$TMUX" ]; then
#    tmux attach -t default || tmux new -s default
#fi

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
