{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
packages=(
    clang
    emacs
    exa
    gcc
    gcc-c++
    gettext
    git-delta
    gnome-extensions-app
    gnome-tweaks
    google-roboto-fonts
    libgda
    libgda-sqlite
    neovim
    ripgrep
    tmux
    ulauncher
    util-linux-user
    zoxide
    zsh
)

sudo dnf -y install "${packages[@]}"
{{ else -}}
{{ end -}}
