local wezterm = require "wezterm"

local config = {
	color_scheme = "GruvboxDark",
  {{ if eq .chezmoi.os "darwin" }}
  color_scheme_dirs = { "/Users/{{ .chezmoi.username }}/.config/wezterm/colorschemes" },
  {{ else if eq .chezmoi.os "linux" }}
  color_scheme_dirs = { "/home/{{ .chezmoi.username }}/.config/wezterm/colorschemes" },
  {{ end }}
  enable_tab_bar = true,
	font = wezterm.font("Monaco Nerd Font", { weight = "DemiBold" }),
  {{ if eq .chezmoi.os "linux" }}
	font_size = 11,
  {{ else }}
  font_size = 16,
  {{ end }}
  window_frame = {
    font = wezterm.font { family = 'Roboto', weight = 'Bold' },
    font_size = 10
  }
}

return config
